.wraper {
  text-align: center;
  width: 348px;
  height: 665px;
  background-color: #ffffff;
}

.logo {
  width: 238px;
  height: 93px;
}

.sign {
  width: 252px;
  height: 53px;
  background: #E85D52;
  border-radius: 15px;
}
