.wraper {
  width: 375px;
  margin: 0 auto;
  background: #F9F9F9;
}

.push-mask{
  margin: 0 auto;
  width: 308px;
  height: 145px;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.notice {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #2F3646;
}

.common {
  display: flex;
  align-items: center;
}
.mask-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #2F3646;
}

.button-on {
  width: 101px;
  height: 19px;
  background: #F2F2F2;
  border-radius: 12px;
}
.button-close {
  width: 63px;
  height: 19px;
  background: #F2F2F2;
  border-radius: 12px;
}

.push-area{
  margin: 0 auto;
  margin-top: 19px;
  width: 308px;
  height: 182px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.
