.wraper {
  margin: 0 auto;
  width: 271px;
  height: 665px;
  background-color: #ffffff;
}

.logo {
  margin-top: 120px;
  width: 238px;
  height: 93px;
  margin: 0 auto;
}

.home-menu-sign {
  margin-top: 100px;
  margin: 0 auto;
}

.register {
  padding-bottom: 13px;;
  margin-top: 110px;
  text-align: center;
  background: #E85D52;
  border-radius: 15px;
  width: 259px;
  height: 53px;
  margin: 0 auto;
}

.reg {
  padding-top: 18px;
  font-size: 23px;
  font-family:Roboto;
  font-style: normal;
  font-weight: normal;
  color:#ffffff;
}

.sign {
  padding-bottom: 13px;
  margin-top: 17px;
  width: 259px;
  height: 53px;
  background: #FFFFFF;
  border: 2px solid #C9C9C9;
  border-radius: 15px;
  text-align: center;
}

.sign-in {
  font-size: 23px;
  font-family:Roboto;
  font-style: normal;
  font-weight: normal;
  color:#C9C9C9;
}

.gos {
  margin: 0 auto;
  margin-top: 17px;
}
