.wrapper {
  width: 375px;
  margin: 0 auto;
  background: #F9F9F9;
}

.push-mask{
  margin: 0 auto;
  width: 308px;
  height: 145px;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}

.notice {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #2F3646;
}

.common {
  display: flex;
  align-items: center;
  margin-left: 10px
}
.mask-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #2F3646;
}


.button-on {
  width: 101px;
  height: 19px;
  background: #F2F2F2;
  border-radius: 12px;
}
.button-close {
  width: 63px;
  height: 19px;
  background: #F2F2F2;
  border-radius: 12px;
}

.maska {
  width: 106px;
  height: 116px;
  margin-left: -17px;
}

.push-area{
  margin: 0 auto;
  margin-top: 19px;
  width: 308px;
  height: 182px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.off-button {
  width: 121px;
  margin-left: -10px;
}

.virus-statistics{
  width: 322.47px;
  height: 434px;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 14px;
  margin: 0 auto;
  text-align: center;
}

.virus-statistics-top {
  width: 322.47px;
  height: 166.08px;
}

.time {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #CCCCCC;
  padding-top: 50px;
}

.virus-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #474747;
}

.place {
  display: flex;
  align-items: center;
}

.place-city {
  width: 73.95px;
  height: 36.37px;
  background: #ECECEC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.text-place {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 12px;
}

.on-button{
  width: 101px;
  height: 19px;
  /*background: #DEF3D6;*/
  border-radius: 12px;
}

.logotype {
  margin-left: 63px;
}

.text-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #9C9C9C;
  margin-top: -3px;
  margin-left: 73px;
}

.button-css {
  background: #DEF3D6;
  font-family: Roboto;
  display: block;
  /* box-sizing: border-box; */
  margin: 0 auto;
  /* padding: 8px; */
  width: 80%;
  max-width: 200px;
  /* background: #fff; */
  /* background: rgba(255, 255, 255, 0.5); */
  border-radius: 8px;
  color: #636363;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}
.ans {
  display: flex;
  margin-left: -12px;
}
.button-css2 {
  background: #F2F2F2;
  font-family: Roboto;
  display: block;
  /* box-sizing: border-box; */
  margin: 0 auto;
  /* padding: 8px; */
  width: 80%;
  max-width: 200px;
  /* background: #fff; */
  /* background: rgba(255, 255, 255, 0.5); */
  border-radius: 8px;
  color: #636363;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

.logo {
  margin-top: 60px;
  width: 238px;
  height: 93px;
  margin: 0 auto;
}

.footer {
  width: 335px;
  height: 70.27px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  margin: 0 auto;
  margin-left: 20px;
  position: absolute;
  bottom: 0;
}
.tabs{
  margin: 0 auto;

}
.home {
  margin-left: 22px;
  margin-right: 55px;
}

.grafic {
  margin-right: 55px;
}

.med {
  margin-right: 55px;
}

.list {
  margin-right: 22px;
}

