.wrapper {
    width: 375px;
    margin: 0 auto;
    background: #F9F9F9;
    height: 719px;
}

.covid-19 {
    margin-top: 78px;
    margin-left: 63px;
}
.head {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #000000;
}
.test-text{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.start{
    margin: 0 auto;
    width: 196px;
    height: 53px;
    background: #E85D52;
    border-radius: 15px;
    text-align: center;
}
.start-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 132.2%;
    color: #FFFFFF;
    padding-top: 17px;
}

.footer {
    width: 335px;
    height: 70.27px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    margin: 0 auto;
    margin-top: 120px;
}

.home {
    margin-left: 65px;
    margin-right: 55px;
}

.grafic {
    margin-right: 55px;
}


.list {
    margin-right: 22px;
}