.wrapper{
    width: 375px;
    margin: 0 auto;
    background: #F9F9F9;
    height: 719px;
}

.common {
    margin: 0 auto;
    text-align: center;
}

.img {
    padding-bottom: 67px;
    width: 308px;
    height: 235px;
    margin: 0 auto;
    padding-top: 42px
}
.text-head {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #323538;
}
.answer{
    padding-left: 36px;
    display: flex;
    margin: 0 auto;
    padding-top: 31px;
}
.yes{
    text-align: center;
    width: 135px;
    height: 53px;
    background: #E85D52;
    border-radius: 15px;
}
.no {
    text-align: center;
    width: 135px;
    height: 53px;
    background: #E85D52;
    border-radius: 15px;
    margin-left: 33px ;
}
.yes-ans {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
}
.no-ans{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
}
.footer {
    width: 335px;
    height: 70.27px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    margin: 0 auto;
    margin-top: 120px;
    margin-left: 20px;
    position: absolute;
    bottom: 0;
}

.home {
    margin-left: 65px;
    margin-right: 55px;
}

.grafic {
    margin-right: 55px;
}


.list {
    margin-right: 22px;
}